.wrapper 
{
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.internal 
{
	display: inline;
}

.clickable
{
      cursor: pointer;
}
.visborder
{
      border: 2px solid light-blue;
      border-radius: 25px;
}
