{% extends "parent.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <br>

    <div class="col-lg-6 col-lg-offset-3">
    {% for e in form.non_field_errors %}
    <div class="alert alert-danger">
    {{e}}
    </div>
    {% endfor %}

    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{field.label}}: {{error}}
    </div>
    {% endfor %}
    {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Create your course
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form  enctype="multipart/form-data" method="post" action="{% url 'createcourse' %}">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Course Number</label>
                            <input name="number" class="form-control"
                            value="{{form.number.value}}">
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Course Name</label>
                            <input name="name" class="form-control"
                            value="{{form.name.value}}">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Semester</label>
                            <input name="semester" class="form-control"
                            value="{{form.semester.value}}">
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Max Enroll</label>
                            <input name="max_enroll" class="form-control"
                            value="{{form.max_enroll.value}}">
                        </div>
                    </div>




                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Description (Optional) </label>
                            <textarea name="description" class="form-control" style="resize: vertical;"rows="3">{{form.description.value}}</textarea>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Access Code (Leave it blank to make the course public) </label>
                            <input name="access_code" class="form-control"
                            value="{{form.access_code.value}}">
                        </div>
                    </div>



                    <div class="col-lg-4 ">
                        <div class="form-group">
                            <!-- <label>Confirm</label> <br> -->
                            <div class="control-group"> &nbsp;</div>
                            <input type="submit" class="btn btn-primary btn-sm" style="display: block; width: 100%;margin-top:5px;" value="Create"/>

                        </div>
                    </div>
                </div>

            </div>

            {% csrf_token %}
            </form>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

{% endblock %}
