{% extends "parent.html" %}
{% load staticfiles %}

{% block nav %}
<li class="active"><a href="#">Forum</a></li>
<li><a href="{% url 'editcourse' course_semester=semester_id course_number=course_id %}">Manage Course</a></li>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar progress-success" value=" TODO : BASE PROGRESS ON SOMETHING" >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="height: 80vh; min-height: 80%; max-height: 80vh; overflow-y: scroll;">
          <div class="row form-group">
            <div class="col-md-3">
              <button onclick="post('{{ semester_id }}','{{ course_id  }}','0')" class="btn btn-default btn-success"> &#43; New Post</button>
            </div>
            <div class="col-md-9">
              <form action="{% url 'forum' semester_id course_id %}" method="get">
                <input type="text" name="q" class="form-control" placeholder="Search this forum" value="{{search_term}}"/>
              </form>
            </div>
          </form>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" style="width:100%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <a href="#">
              <span class="badge pull-right">{{ filters.0.1 }}</span>{{ filters.0.0 }}</a>
            <span class="caret"/>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
              {% for element in filters %}
              <li>
              <a href="#">
                <span class="badge pull-right">{{ element.1 }}</span><input type="checkbox"/>{{ element.0 }}</a>
              </li>
              {% endfor %}
              <li><hr></li>
              <li>
              <span style="display:table; margin:0 auto;"><button type="submit" class="btn btn-sm btn-success">Update filters</button></span>
              </li>
            </ul>
          </div>
          <div class="list-group" style="word-wrap: break-word;">
            {% for post in posts %}
            <small>
            <div class="list-group-item panel panel-default clickable" id="post_{{ post.id }}">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-8">
                    <h4> <p>{{ post.title|striptags }}</p></h4>
                  </div>
                  <div class="col-md-4">
                    <p><small><small>{{ post.updated_at }}</small></small></p>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10">
                    <p>{{ post.text|striptags|slice:":66" }}...</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ post.status }}</p>
                    <p>{{ post.pinned }}</p>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                {% for tag in post.tags.all %}
                <button class="btn btn-default btn-sm" >{{ tag.nam }}</button>
                <small>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9" style="height:100vh;min-height:100vh">
          {% ifequal selected_post 0 %}
          <iframe src="{% url 'forum_home' semester_id course_id %}" style="overflow-y: scroll;height:80vh;width:100%;min-height:80vh" name="frame" id="frame"></iframe>
          {% else %}
          <iframe src="{% url 'view_posts' selected_post %}" style="overflow-y: scroll;height:80vh;width:100%;min-height:80vh" %} name="frame" id="frame"></iframe>
          {% endifequal %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
  {% block footer %}
  <script type="text/javascript">
    semester_id = "{{semester_id}}";
    course_id = "{{course_id}}";
    </script>
    {% endblock %}

