{% extends "parent.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}
{% block nav %}
<li class="active"><a href="{% url 'forum' semester_id=semester_id course_id=course_id %}">Forum</a></li>
<li><a href="{% url 'resource' semester_id course_id 0 %}">Resource</a></li>
{% if role == 0 or role == 1 %}
<li><a href="{% url 'editcourse' course_semester=semester_id course_number=course_id %}">Manage Course</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="height: 85vh; min-height: 85%; max-height: 85vh; overflow-y: scroll;">
      <div class="row form-group">
        <div class="col-md-4 pull-left">
          <button onclick="post('0')" class="btn btn-default btn-success"> &#43; New Post</button>
        </div>
        <div class="col-md-8 pull-right">
          <form action="{% url 'forum' semester_id course_id %}" method="get">
            <input type="text" name="q" class="form-control" placeholder="Search this forum" value="{{search_term}}"/>
          </form>
        </div>
      </form>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <a href="#">
          <span class="badge pull-right"></span>{{ filters.0.0 }}</a>
        <span class="caret"/>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
          {% for element in filters %}
          <li>
          <a href="#">
            <span class="badge pull-right"></span><input type="checkbox"/> {{ element.0 }}</a>
          </li>
          {% endfor %}
          <li><hr></li>
          <li>
          <span style="display:table; margin:0 auto;"><button type="submit" class="btn btn-sm btn-success">Update filters</button></span>
          </li>
        </ul>
      </div>
      <div class="list-group" style="word-wrap: break-word;" id="posts-list">
        {% for post in posts %}
        <div class="list-group-item panel panel-default clickable visborder" id="post_{{ post.id }}">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8 pull-left">
                <p>{{ post.title|striptags }}</p>
              </div>
              <div class="col-md-4 pull-right">
                <p><small>{{ post.updated_at|date:"M d, H:m" }}</small></p>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>{{ post.text|striptags|slice:":66" }}...</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-9" style="height:100vh;min-height:100vh">
      {% if selected_post == 0 %}
      <iframe src="{% url 'forum_home' semester_id course_id %}" style="overflow-y: scroll;height:85vh;width:100%;min-height:85vh" name="frame" id="frame"></iframe>
      {% else %}
      <iframe src="{% url 'view_posts' selected_post %}" style="overflow-y: scroll;height:85vh;width:100%;min-height:85vh" %} name="frame" id="frame"></iframe>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
<script type="text/javascript">
  var semester_id = "{{semester_id}}";
  var course_id = "{{course_id}}";
  window.setInterval(getPosts, 1000);
</script>
{% endblock %}

