{% extends "parent.html" %}

{% block content %}
<div class="container">
    <div class = "row">
        <div>
            <h1 class="display3">{{user.first_name}}'s team for:</h1>
            <h1 class="display3">{{course.number}}: {{course.name}}</h1>
            <h1 class="display3">{{assignment.number}}: {{assignment.title}}</h1>
        </div>

        <div class = "col-md-8 col-md-offset-2">
            <div class="row">
                <h1>{{team_name}}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            {% for member in members %}
                            <th>{{ member }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

