{% extends "parent.html" %}
{% load staticfiles %}
{% block content %}

<br>
<div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Notifications
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#All" data-toggle="tab">All</a>
                    </li>
<!--                     <li><a href="#questions" data-toggle="tab">Questions</a>
                    </li>
                    <li><a href="#answers" data-toggle="tab">Tags</a>
                    </li>
                    <li><a href="#courses" data-toggle="tab">People</a>
                    </li>
 -->
                    <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Your Questions <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="#Question-answer" data-toggle="tab">New Answer</a></li>
				    	<li><a href="#Question-follow" data-toggle="tab">New Follow</a></li>
				    	<!-- <li><a href="#Question-assignment" data-toggle="tab">New Assignment</a></li> -->
				    </ul>
				    </li>


				    <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Your Answers <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="#Answers-upvote" data-toggle="tab">New Upvote</a></li>
				    	<!-- <li><a href="#Answers-comment" data-toggle="tab">Comment</a></li> -->
				    </ul>
				    </li>


				    <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Your Comments <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="#Comments-reply" data-toggle="tab">New Reply</a></li>
				    </ul>
				    </li>

				    <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Following Tags <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="#Tags-questions" data-toggle="tab">New Questions</a></li>
				    </ul>
				    </li>

				    <li class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      People <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="#People-follow" data-toggle="tab">Follow Request</a></li>
				    	<li><a href="#People-inmail" data-toggle="tab">InMail</a></li>
				    </ul>
				    </li>


                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="All">
                        <br>
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            Unread
	                        </div>
	                        <div class="panel-body">
	                            {% for notification in notifications %}
	                                {% if notification.status == "0" %}
                                    <div class="panel panel-warning">
				                        <div class="panel-heading">
				                            <a style="color:#ED9F35;" href="{{notification.destination}}">  {{ notification.sender}} {{notification.get_action_display}} </a>

	                                     <span class="label label-warning label-pill pull-right">{{notification.created_at}}</span>
				                        </div>
				                        <div class="panel-body">
				                            {% if notification.extra_content %}

				                            <p> notification.extra_content </p>

				                            {% else %}
				                            No additional description
				                            {% endif %}
				                            <hr>
				                            <span class="pull-right">
				                            <form id="markreadform" method="post" action="{% url 'markreadnoti' notification.id %}">
						                        {% csrf_token %}
						                    </form>
				                            <button type="submit" form="markreadform" class="btn btn-outline btn-warning btn-xs">Mark as read</button>
				                            </span>
				                        </div>
				                    </div>
	                                {% endif %}
	                            {% endfor %}
	                        </div>
	                        
	                    </div>

	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            Read
	                        </div>
	                        <div class="panel-body">
	                            {% for notification in notifications %}
	                                {% if notification.status == "1" %}
	                                <div class="panel panel-success">
				                        <div class="panel-heading">
				                            <a style="color:#4AAF46;" href="{{notification.destination}}">  {{ notification.sender}} {{notification.get_action_display}} </a>

	                                     <span class="label label-success label-pill pull-right">{{notification.created_at}}</span>
				                        </div>
				                        <div class="panel-body">
				                            {% if notification.extra_content %}

				                            <p> notification.extra_content </p>

				                            {% else %}
				                            No additional description
				                            {% endif %}
				                            <!-- <hr>
				                            <span class="pull-right">
				                            <button type="button" class="btn btn-outline btn-success btn-xs">Mark as read</button> -->
				                            </span>
				                        </div>
				                    </div>
	                                {% endif %}
	                            {% endfor %}
	                        </div>
	                        
	                    </div>


                    </div>
                    
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endblock %}
