<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Plaza! {% block title %} {% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- MetisMenu CSS -->
        <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static 'css/plaza.css' %}" rel="stylesheet">
        <link href="{% static 'css/sb-admin-2-modified.css' %}" rel="stylesheet">

        <link href="{% static 'css/forum.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-datepicker3.standalone.css' %}" rel="stylesheet"> <!-- for data time picker -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <link href="https://cdn.rawgit.com/kartik-v/bootstrap-fileinput/master/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'home' %}>Plaza</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav">
                {% block nav %}
                {% endblock %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose course<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if user.courses_taken.count %}
                    {% for course in user.courses_taken.all %}
                    <li><a href="{% url 'forum' semester_id=course.semester course_id=course.number %}">{{course}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="#">No Courses Taken</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if user.courses_assisted.count %}
                    {% for course in user.courses_assisted.all %}
                    <li><a href="{% url 'forum' semester_id=course.semester course_id=course.number %}">{{course}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="#">No Courses Assisted</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if user.courses_managed.count %}
                    {% for course in user.courses_managed.all %}
                    <li><a href="{% url 'forum' semester_id=course.semester course_id=course.number %}">{{course}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="#">No Courses Managed</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'createcourse' %}">Create course</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'managecourses' %}">Manage courses</a></li>
                </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="course_search_field" autocomplete="off"
                    type="text" class="form-control" placeholder="Find a course">
                    <button id="go_to_course"
                        class="btn btn-default">Go
                    </button>
                    <div id="dropdown" class="dropdown">
                        <a href="#" class="dropdown-toggle"
                            id="dropdown-toggle" data-toggle="dropdown" hidden></a>
                        <ul id="courses_list" class="dropdown-menu">
                        </ul>
                    </div>
                </form>
            </div>
        </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                    <a href="#">
                        <div>
                            <strong>Jason Song</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Hi </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a class="text-center" href="#">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                    <a href="#">
                        <div>
                            <p>
                            <strong>Task 1</strong>
                            <span class="pull-right text-muted">40% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Error and Status messages --!>
                    <div class="container">
                        <br>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2" id="errors">
                            {% for e in errors %}
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                    &times;
                                </a>
                                {{e}}
                            </div>
                            {% endfor %}
                            </div>
                            <div class="col-md-8 col-md-offset-2" id="statuses">
                            {% for s in statuses %}
                            <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                    &times;
                                </a>
                                {{s}}
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% block content %}
                    {% endblock %}

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>

    <!-- jQuery -->
    <!-- TODO: Solve duplication -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

    <!-- Date Time picker JavaScript -->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>\

    <!-- File upload js -->
    <script src="https://cdn.rawgit.com/kartik-v/bootstrap-fileinput/master/js/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/kartik-v/bootstrap-fileinput/master/js/fileinput.min.js"></script>

    <!-- Generic Javascript -->
    <script src="{% static 'js/plaza.js' %}"></script>

    <script src="{% static 'js/forum.js' %}"></script>

    <script type="text/javascript">
        var current_username = "{{request.user.username}}";
    </script>

    <!-- jQuery -->
    <script> $(function() {
        $("#genderselect option[value='{{ request.user.person.gender }}']").attr("selected","selected");
        $("#input-repl-1a").fileinput({
            // uploadUrl: "#",
            autoReplace: true,
            overwriteInitial: true,
            maxFileCount: 1,
            initialPreview: [
                "<img src='{% url 'profilepicture' request.user.id %}' alt='Profile Picture' class='img-rounded' height='100%' width='100%' />",
            ],
            initialPreviewShowDelete: false,
            showDelete: true,
            showCaption: false,
            showClose: false,
            showUpload: false,
            allowedFileTypes: ["image"],
            removeLabel: "Discard "
        });
    });

    </script>


    {% block footer %} {% endblock %}

</html>


