{% extends "head.html" %}
{% load staticfiles %}
{% block head %}
{{ form.media }}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <form method="POST"> 
    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <div class = "page-header">
          <h1>Post to Plaza</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <label>Enter a short summary of your post (max 128 characters)</label>
        <input name="title" value="" class="form-control" placeholder="Enter title here">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <label>Tags</label> 
        {% for tag in tags %}
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="checkbox" id ="{{tag}}" name="{{tag}}"></input>{{tag}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% for element in form %}
    {% if element.label == 'Text' %}
    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <label>{{ element.label }}</label>{{ element }} 
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <label>Anonymity options</label> 
        <select class="form-control">
          {% for element in vis %}
          <option value="{{element}}">{{element}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-4 col-lg-offset-1">
        <label>Type of post</label> 
        <select class="form-control">
          {% for element in types %}
          <option value="{{element}}">{{element}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group col-lg-4 col-lg-offset-1">
      <button type="submit" class="btn btn-submit">Submit</button>
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
