{% extends "parent.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <br>
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
                 Profile
                 {% if "target_id==person.user.id" %}
                 <span class="pull-right"> <a class="btn btn-default btn-xs" href="{% url 'editprofile' %}" role="button">Edit</a> </span> 
                 {% endif %}
            </div>
            <div class="panel-body">
                <div class="col-lg-3 col-lg-offset-1">
                    <br>
	            	<span class="pull-left">
	                    <img src="{% url 'profilepicture' person.user.id %}" alt="Profile Picture" class="img-rounded" height="190" width="200" />
	                </span>
                </div>
                <div class="col-lg-7 col-md-offset-1">
	                <ul class="list-unstyled">
					  <li><h3>{{person.user.first_name}} {{person.user.last_name}} </h3> </li>
					  <hr>
					  <li><span><i class="fa fa-user fa-fw"></i> {{person.user.username}} </span>  &nbsp; - &nbsp; <span><i class="fa fa-calendar fa-fw"></i> 
                      {% if person.date_of_birth %} {{person.date_of_birth}} {% else %} N/A {% endif %} </span>
					   &nbsp; - &nbsp; <span><i class="fa fa-calendar fa-male"></i> {{person.get_gender_display}} </span> </li> 
					   <br>
					  <li> <span><i class="fa fa-envelope-o fa-fw"></i> {{person.user.email}} </span></li>
					  <br>
					  <li><span> <i class="fa fa-graduation-cap fa-fw"></i> Major {% if person.field %} {{person.field}} {% else %} N/A {% endif %} at {% if person.institution %} {{person.institution}} {% else %} N/A {% endif %} </span></li>
					  <hr> 
					  <li>{{person.short_bio}}</li>
					</ul>

				</div>
				<div class="col-lg-12"> 
				<hr>
				<b>100</b> Followers &nbsp; - &nbsp; <b>100</b> Followings &nbsp; - &nbsp; <b>100</b> Upvotes 
				<span class="pull-right">

                <form id="followform" method="post" action="{% url 'followuser' 1 %}">
                    {% csrf_token %}
                </form>
				<button type="submit" form="followform" class="btn btn-outline btn-primary btn-xs">Follow</button>

				<button type="button" class="btn btn-outline btn-primary btn-xs">InMail</button>
				</span>
				</div>
            </div>

		</div>
	 </div>

	<div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Activity
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Recent" data-toggle="tab">Recent</a>
                    </li>
                    <li><a href="#questions" data-toggle="tab">Questions</a>
                    </li>
                    <li><a href="#answers" data-toggle="tab">Answers</a>
                    </li>
                    <li><a href="#courses" data-toggle="tab">Courses</a>
                    </li>
                    <li><a href="#topics" data-toggle="tab">Topics</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Recent">
                        <ul class="list-unstyled">
                        <br>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        <hr>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="questions">
                        <ul class="list-unstyled">
                        <br>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        <hr>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="answers">
                        <ul class="list-unstyled">
                        <br>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        <hr>
                        <li> <h4>What's your name?</h4>
                        <p>Jason Song</p> </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="courses">
                        <ul class="list-unstyled">
                        <br>
                        <li><h4>15-437 Web Application Development</h4></li> 
                        <hr>
                        <li><h4>15-418 Parallel Computer Architecture and Programming</h4></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="topics">
                         <ul class="list-unstyled">
                        <br>
                        <li><h4>Django programming</h4></li> 
                        <hr>
                        <li><h4> AWS Deployment</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

{% endblock %}
