{% extends "parent.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <br>

	<div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Resources - {% if parent %} {{parent.get_path}} {% else %} / {% endif %}
                {% if parent %} <span class="pull-right"> <a class="btn btn-default btn-xs" href="{% url 'resourceparent' parent_rid %}" role="button">Back</a> </span> {% endif %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <!-- <ul class="nav nav-tabs">
                    <li class="active"><a href="#All" data-toggle="tab">All</a>
                    </li>
                    <li><a href="#Homework" data-toggle="tab">Homework</a>
                    </li>
                    <li><a href="#Video" data-toggle="tab">Video</a>
                    </li>
                    <li><a href="#Notes" data-toggle="tab">Slides</a>
                    </li>
                </ul> -->

                <!-- Tab panes -->
                <!-- <div class="tab-content"> -->

                    <!-- <div class="tab-pane fade in active" id="All"> -->
                    <br>
                    <!-- <ul class="list-group"> -->
                        <!-- <li class="list-group-item"> -->

                            <div class="panel-group" id="accordion">
                            {% for resource in resources %}
                            
                            {% if resource.resource_type != "F" %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="fa fa-file" aria-hidden="true"></i> &nbsp;<a data-toggle="collapse" data-parent="#accordion" href="#collapse-id-{{ resource.id }}">  {{ resource.title }}</a>
                                        <span class="pull-right">&nbsp;  <a href="{% url 'deleteresource' resource.id %}"> <i class="fa fa-times" aria-hidden="true"></i> </a> </span>
                                        {% if resource.due %} 
                                          {% if resource.is_past_due %}
                                          <span class="label label-success label-pill pull-right">Due {{resource.due}}</span>
                                          {% else %}
                                          <span class="label label-warning label-pill pull-right">Due {{resource.due}}</span>
                                          {% endif %}
                                        {% endif %}
                                        
                                    </h4>
                                </div>
                                <div id="collapse-id-{{ resource.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                        {% if resource.notes %} {{resource.notes}} {% else %} No description {% endif %}
                                        
                                        {% if resource.file %}
                                        <hr>
                                        <a href="/media/{{resource.file}}">Attached File</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if resource.resource_type == "F" %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> &nbsp; <a href="{% url 'resource' resource.id %}"> {{ resource.title }}</a>
                                        <span class="pull-right">&nbsp;  <a href="{% url 'deleteresource' resource.id %}"> <i class="fa fa-times" aria-hidden="true"></i> </a> </span>
                                    </h4>
                                </div>
                                
                            </div>
                            {% endif %}

                            {% endfor %}
                            </div>

                            <div class="panel panel-default">
                            <div class="panel-heading">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#CreateResource">
                                                <span class="glyphicon glyphicon-plus" title="Create Assignment"></span> 
                            </button>
                            </div>
                            </div>

                        <!-- </li> -->

                            
                        <!-- Modal -->
                        <div class="modal fade" id="CreateResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <!-- <h4 class="modal-title" id="myModalLabel">Add a resource</h4> -->

                                        <ul class="nav nav-pills">
                                          <li><h4>Add &nbsp;</h4></li>
                                          <li class="active"><a href="#File" data-toggle="tab">File</a> </li>
                                          <li><a href="#Folder" data-toggle="tab">Folder</a></li>
                                        </ul>

                                    </div>

                                    <div class="modal-body">
                                    
                                        <div class="tab-content">

                                            <div class="tab-pane fade in active" id="File">
                                            <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="{% url 'createresource' parent_rid %}">

                                                {% for field in resource_file_form.visible_fields %}
                                                 <div class="form-group">
                                                    <label class="control-label col-md-3" for="name">{{field.label_tag}}</label>
                                                    <div class="col-md-9">
                                                       {{field}}
                                                    </div>
                                                </div>
                                                
                                                {% endfor %}

                                                <input type="hidden" name="rtype" value="file">

                                                <div class="form-group">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                                    </div>
                                                </div>

                                                {% if form.errors %}
                                                    <div class="alert alert-warning">
                                                       {{form.errors}}
                                                    </div>
                                                {% endif %}

                                                {% csrf_token %}

                                            </form>

                                            </div>

                                            <div class="tab-pane fade" id="Folder">
                                               <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="{% url 'createresource' parent_rid %}">
                                               <!-- <div class="form-group">
                                                    <label class="control-label col-md-3" for="number">Title</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="title">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="number">Notes</label>
                                                    <div class="col-md-9">
                                                        <textarea name="notes" style="resize:none;"class="form-control" rows="4"></textarea>
                                                    </div>
                                                </div> -->

                                                 {% for field in resource_folder_form.visible_fields %}
                                                 <div class="form-group">
                                                    <label class="control-label col-md-3" for="name">{{field.label_tag}}</label>
                                                    <div class="col-md-9">
                                                       {{field}}
                                                    </div>
                                                </div>
                                                   
                                                {% endfor %}

                                                <input type="hidden" name="rtype" value="folder">

                                                <div class="form-group">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                                    </div>
                                                </div>

                                                {% csrf_token %}

                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- </ul> -->
                    </div>

<!--                     <div class="tab-pane fade" id="Homework">

                    </div>

                    <div class="tab-pane fade" id="Video">
                        
                    </div>

                    <div class="tab-pane fade" id="Notes">
                        
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <br>

    </div>
</div>

{% endblock %}
