{% extends "parent.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <h1 class="display3"> {{course_number}} Assignment {{assignment_number}}
                Team Creation
            </h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Create a Team</h2>
                </div>
                <div id=class="panel-default">
                    <div class="panel-body">
                        <h4>Team Name: </h4>
                        <div class="row">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="team_name_field">
                            </div>
                        </div>
                        <h4>Add teammates:</h4>
                        <div class="row">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="person_search_field" autocomplete="off">
                                <div class="dropdown">
                                    <ul id="students_list" class="dropdown-menu">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <input class="btn btn-default" value="Add" id="add_person">
                            </div>
                        </div>
                        <h4>Added teammates:</h4>
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="added">
                                </div>
                                <br>
                                <div class="btn btn-default" onclick="remove_all_people()">Clear</div>
                                <div class="btn btn-info" onclick="submit_team()">Done</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    var course_number = {{course_number}};
    var course_semester = '{{course_semester}}';
    var assignment_number = {{assignment_number}};
</script>
<script src="{% static 'js/createteam.js' %}"></script>
{% endblock %}
